body{
	margin: auto;
}

.container-principal{
	margin: auto;
	width: 1280px;
	height: auto;
	text-align: center;
	background-color: #F1F1F1;

}

.imagen-instagram{
	width: 100px;
	height: 50px;
}

.fotos{
	background-color: white;
	margin: 20px;
	width: 700px;
	padding: 20px;
	 
}

.fav{
	display: flex;
	justify-content: flex-start;
	margin-left: 100px;
}

.imagenes{
	text-align: center;
}

.img1{ 
	margin: auto;
	width: 900px;
	height: auto;

}


.foto{
	width: 500px;
	height: auto;
	display: block;
	margin: auto;

}

.foto-like{
	width: auto;
	height: 40px;
}

.likes{

	font-size: 18px;
	font-family: verdana;	
}